.welcome {
  margin-top: 10px;

  h1 img {
    display: inline-block;
    height: $font-size-h1 - 10px;
    margin-left: 5px;
  }
}

.building-image {
  display: none;
}

.alert-myport img {
  max-width: 100%;
}

@media (min-width: $screen-md-min) {
  .building-image {
    display: block;
    background-image: url('/images/park-building.svg');
    height: 250px;
    display: table-cell;
    margin-bottom: -30px;
    opacity: .28;
    background-position: bottom center;
    background-size: 85%;
    background-repeat: no-repeat;
  }
}

@media (max-width: $screen-sm-min) {
  .alert-myport {
    padding: 0;

    .container {
      padding: 0;
    }
  }
}